* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

body {
  background: #000;
  color: #00ff99;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.access {
  color: #ff0040;
  letter-spacing: 3px;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero h2 {
  height: 30px;
  margin-top: 10px;
}

.tagline {
  margin-top: 15px;
  color: #aaa;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  padding: 50px 10%;
  text-align: center;
}

.stat span {
  font-size: 1.8rem;
  color: #ff0040;
}

/* ABOUT */
.about {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 10%;
  gap: 40px;
  align-items: center;
}

.profile img {
  width: 260px;
  border-radius: 50%;
  border: 3px solid #00ff99;
  box-shadow: 0 0 25px #00ff99;
}

.quote {
  color: #ff0040;
  margin-top: 10px;
}

/* SKILLS */
.skills {
  padding: 60px 10%;
  text-align: center;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.skill {
  padding: 15px;
  border: 1px solid #00ff99;
}

/* TERMINAL */
.terminal {
  padding: 60px 10%;
  background: #000;
}

#terminal-output p {
  margin-bottom: 10px;
}

#terminal-input {
  width: 100%;
  background: #000;
  border: none;
  border-top: 1px solid #00ff99;
  color: #00ff99;
  padding: 10px;
}

/* MODE */
#modeToggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000;
  color: #00ff99;
  border: 1px solid #00ff99;
  padding: 10px;
  cursor: pointer;
}

/* CYBER MODE */
body.cyber {
  background: radial-gradient(circle, #001a10, #000);
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: #666;
  }
